# Datatype as a parameter

In [1]:
def grocerylist(*food):
    return food

In [2]:
grocerylist("apple","bananas","vegies","and"," other"," stuffs")

('apple', 'bananas', 'vegies', 'and', ' other', ' stuffs')

In [3]:
def cart(**items):
    return items

In [4]:
cart(apple=4,oats=3,rice=2,grapes=6)

{'apple': 4, 'oats': 3, 'rice': 2, 'grapes': 6}

In [5]:
def profile(firstname,lastname,*language,**level):
    name =firstname.title() + " " + lastname.title()
    return f"Name-: {name}\nSKills-: {language}\nLevel-: {level}"

In [6]:
x =profile("Aryan","Khanna","Python","R","SQL",Python = "Intermidiate",R = "Beginer", SQL = "Intermidiate")
print(x)

Name-: Aryan Khanna
SKills-: ('Python', 'R', 'SQL')
Level-: {'Python': 'Intermidiate', 'R': 'Beginer', 'SQL': 'Intermidiate'}

In [7]:
var1 = ('Python', 'R', 'SQL')
var2 = {'Python': 'Intermidiate', 'R': 'Beginer', 'SQL': 'Intermidiate'}
x = profile("Aryan","Khanna",*var1,**var2)
print(x)

Name-: Aryan Khanna
SKills-: ('Python', 'R', 'SQL')
Level-: {'Python': 'Intermidiate', 'R': 'Beginer', 'SQL': 'Intermidiate'}