# For Loop

**Syntax:**
- for  item in range(x):	
   - Statement1
 
#for loop mainly deals with list or collection like objects.

In [1]:
#before understanding for we must understand range function
range(0,10)

range(0, 10)

In [2]:
range(2,10,1)

range(2, 10)

In [3]:
list(range(2,10,1))

[2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(4))

[0, 1, 2, 3]

In [7]:
#program to print 1-5

for i in range(1,6):    #range(start=1,end=6,step=1)
    print(i)

1
2
3
4
5

In [8]:
#program to print 5-1

for i in range(5,0,-1):    #range(start=5,end=0,step=-1)
    print(i)

5
4
3
2
1

In [9]:
#factorial of n

n=int(input("Enter a number-: "))
f=1
for i in range(1,n+1):
    f=f*i

print(f"The factorial of {n} is {f}")

Enter a number-: 5
The factorial of 5 is 120

In [10]:
#Program of For Loop.

print("My name is ")
for i in range(5):
    print("jay five times " + str(i) )

My name is
jay five times 0
jay five times 1
jay five times 2
jay five times 3
jay five times 4

In [11]:
#Program for summing up 1st 100 natural numbers.

#CARLS FRIEDRICH GAUSSS
n=100

total = 0
for i in range(1,n+1):
    total = total + i
print(total)

5050

In [12]:
for i in range(4): 	#range(0,4) i.e 0-3
    print(i)

0
1
2
3

## Iterations over Datatypes using for each loop

### List

In [13]:
['one','two','three','four','five']

['one', 'two', 'three', 'four', 'five']

In fact you could write a for loop like this,

In [14]:
# for each element (i) in list print every element (i)
for i in ['one','two','three','four','five']:
    print(i)

one
two
three
four
five

In [15]:
#For example. 
list(range(4))

[0, 1, 2, 3]

### String

In [16]:
x="python is fun"

for i in x:
    print(i)

p
y
t
h
o
n

i
s

f
u
n

### Dictionary

In [17]:
d = {'a':10,'b':20,'c':30,'d':40}

In [18]:
for k in d.keys():
    print(k)

a
b
c
d

In [19]:
for v in d.values():
    print(v)

10
20
30
40

In [20]:
for k,v in d.items():
    print(k,v)

a 10
b 20
c 30
d 40

### Set

In [21]:
x = {11,12,13,14,15}

for i in iter(x):
    print(i)

11
12
13
14
15

In [22]:
suppliers = ['pens','pencil','rubber','sharpner','scale']

In [23]:
for i in range(len(suppliers)):
    print('Index '+str(i)+' in supplies is:' + suppliers[i])

Index 0 in supplies is:pens
Index 1 in supplies is:pencil
Index 2 in supplies is:rubber
Index 3 in supplies is:sharpner
Index 4 in supplies is:scale